.header{
    font-size: 20px;
   text-align: center;
    color: #00c8c8;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
}
.content{
    height: 350px;
    width: 100%;
    /* border: 2px solid #660000; */
    overflow-y: scroll;
    text-align: center;
}
@media(max-width:320px){
    .content{
        height: 280px;
        width: 100%;
        /* border: 2px solid #660000; */
        overflow-y: scroll;
        text-align: center;
    }
    
  }
table{
    width: 100%;
}

tr td{
    padding: 5px 0px 5px 10px;
    margin: 10px 5px;
    width: 40%;
    color: #ffffff;
    /* background: #660000; */
    /* display: -ms-inline-flexbox; */
    /* display: inline-flex; */
    text-align: center;
    /* border: 1px solid red; */
}