.carousal{
    width: 90%;
    height: 350px;
    margin: 0 0 0 70px;
}
.Banner{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    /* height: 300px; */
    font-family: 'Raleway', sans-serif;
    color: #fff;
    background: #246bad;
    background: -moz-linear-gradient(top,#246bad 0,#00c8c8 50%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#246bad),color-stop(100%,#00c8c8));
    background: -webkit-linear-gradient(top,#246bad 0,#00c8c8 100%);
    background: -o-linear-gradient(top,#246bad 0,#00c8c8 50%);
    background: -ms-linear-gradient(top,#246bad 0,#00c8c8 50%);
    background: linear-gradient(to bottom,#246bad 0,#00c8c8 50%);
    opacity: .8;
    padding: 25px 5px 25px 5px;
    margin-bottom: 63px;
}

@media(max-width:568px){
    .carousal{ 
        width: 90%;
        margin: 0 0 0 20px;
        height: 200px;}
  }
  .Banner{
    text-align: center;
    width: 95%;
    /* margin: 0 auto; */
    /* height: 300px; */
    font-family: 'Raleway', sans-serif;
    color: #fff;
    background: #246bad;
    background: -moz-linear-gradient(top,#246bad 0,#00c8c8 50%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#246bad),color-stop(100%,#00c8c8));
    background: -webkit-linear-gradient(top,#246bad 0,#00c8c8 100%);
    background: -o-linear-gradient(top,#246bad 0,#00c8c8 50%);
    background: -ms-linear-gradient(top,#246bad 0,#00c8c8 50%);
    background: linear-gradient(to bottom,#246bad 0,#00c8c8 50%);
    opacity: .8;
    padding: 25px 10px 25px 10px;
    margin-bottom: 63px;
}

  
  /* @media(min-width:568px){
    .openSlide{display:none}
  }
   */